* {
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px ;
    border: solid black 1px;
    height: 420px;
    display: grid;
    grid-template-columns: 12% 1fr 12%;
    grid-template-areas: "zinicio zcarrera zmeta";
    position: relative;
}

.inicio{
    background-color: #232323;
    height: 100%;
    grid-area: zinicio;
    border-right: 3px dotted rgb(255, 255, 255);
}

.carrera{
    background-color: #808080;
    height: 100%;
    grid-area: zcarrera;
}

.meta{
    background-color: #e2e2e2;
    height: 100%;
    grid-area: zmeta;
    border-left: 3px dotted rgb(0, 0, 0);
}

.button-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 36%;
}

.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.coches{
    height: 40px;
    width: 80px;
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    color: white;
    position: absolute;
}

.cochess{
    height: 90px;
    position: absolute;
}

.white-hr {
    margin-bottom: 5.4%;
    border: 0;
    height: 0.5px;
    background-color: white;
    width: 100%;
}

.solo {
    background-color: white; 
    width: 100%;
    border: 0;
    height: 0.5px;
    margin: -1px;
}

.copa{
    position: relative;
    top: 100px;
    text-align: center;
    color: goldenrod;
    font-size: 18px;
    display: none;
}

.copa_img{
    height: 200px;
    position: relative;
    right: 3px;
}